<form action="/cars" method="POST">
<input type="text" name="name" >
<input type="text" name="make" >
<input type="text" name="model" >
<input type="text" name="color" >
<input type="number" name="year" >
<input type="submit" value="submit">

</form>