.App {
  text-align: center;
  background: #1C1A23;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.meme-title {
  position: absolute;
  /* display: none; */
  /* perspective: 600px; */
  transform: perspective(600px) rotateX(90deg) ;
  transform-style: preserve-3d;
  transition: all 1s;
  top: 10px;
  left: 10px;
  background: lightskyblue;
}

img {
  width: 134px;
}

.card-item:hover .meme-title {
  /* display: block; */
  transform: rotateX(0deg);
}

.card-item {
  flex-basis: 30%;
  position: relative;
}

.meme-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

form#search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input.search-input {
  flex-basis: 80%;
}



.NavBar {


  height: 10vh;
  width: 100vw;

  border-bottom: 0.4vw solid #7AF9F9;

  

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}

.nav.option {

  flex-grow: 1;
  
  border: none;
  border-left: 0.4vw solid #7AF9F9;

  font-size: 2vw;
  font-weight: 700;

  color: #7AF9F9;

  background: none;

  cursor: pointer;

  transition: all 0.2s;
  
}

.nav.option:hover {
  outline: none;
  background: #7AF9F9;
  color: #1C1A23;

}



#silk-meme-icon {

  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;

}


img.icon-photo {
  display: none;
}


span.icon-title {
  color: #7AF9F9;
  text-shadow: 0.2vw 0.2vw #E64191;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0.8vw;
}


.main-title{
  text-align: left;
  margin-left: 20px;
}